@page "/"
@using RedisDemo.RedisCode OperationsOnRedis.RedisCode
@using Microsoft.AspNetCore.Components
@inject OperationsOnRedis OperationsOnRedis
@attribute [StreamRendering]
<PageTitle>Home</PageTitle>

<h1>Hello, Welcome to redis in memory datastore basic demo!</h1>


<h1>Redis Cache Example</h1>

@code {
    private string cachedValue;

    protected override async Task OnInitializedAsync()
    {
        // Set value in Redis cache
        await OperationsOnRedis.SetValueAsync("Name", "BalaDevopsForYou");

        // Retrieve value from Redis cache
        cachedValue = await OperationsOnRedis.GetValueAsync("example-key");
    }
}

<p>Cached Value: @cachedValue</p>